@model Student
@{
    ViewBag.Title = "Home";
}
<div id="formContent">
    <h2>Your info:</h2>
    <br />
    First Name: <input type="text" value="@Model.FirstName" name="firstname" readonly>
    Last Name: <input type="text" value="@Model.LastName" name="lastname" readonly>
    Email: <input type="email" value="@Model.Email" name="email" readonly>
    Father's initial: <input type="text" value="@Model.Initial" name="initial" readonly>
    Faculty: <input type="text" value="@Model.Faculty.Name" name="faculty" readonly>
    Specialization: <input type="text" value="@Model.Specialization.SpecName" name="specialization" readonly>
    Grade: <input type="text" value="@Model.Media" name="media" readonly>
    Study program:<input type="text" value="@Model.StudyProgram" name="study_program" readonly>
                  <ul style="list-style-type:none;" class="btnsHome">
                      <li>
                          <form method="get" asp-action="AccomodationRequest" asp-controller="AccomodationRequest">
                              <input type="submit" id="btnSend" value="Request without preferences" onclick="disableButton()" />
                          </form>
                      <li><div id="divRequestSent">@ViewBag.AlreadySentRequest</div><br /></li>
                      </li>
                      <form method="get" asp-controller="Preferences" asp-action="Preferences">
                          <li><input type="submit" id="btnAddPref" onclick="showElement(this.id)" value="Preferences" /></li>
                      </form>
                      <li><input type="submit" id="btnVizRepartizare" value="View allocation" /></li>
                  </ul>

</div>
<form align="right" method="post" asp-action="Logout" asp-controller="App">
    <input type="submit" class="logoutPosition" id="btnLogOut" value="EXIT" />
</form>

