@model Student
@{
    ViewBag.Title = "Home";
}
<div class="wrapper fadeInDown">
    <div id="formContent">

        <div id="divRequestSent"><br>@ViewBag.AlreadySentRequest</div>
        <h2>Your info:</h2>
        <br />
        Name: <input type="text" value="@Model.FirstName @Model.Initial @Model.LastName" name="firstname" readonly>
        Email: <input type="email" value="@Model.Email" name="email" readonly>
        Faculty: <input type="text" value="@Model.Faculty.Name, @Model.Specialization.SpecName" name="faculty" readonly>
        Grade: <input type="text" value="@Model.Media" name="media" readonly>
        Study program:<input type="text" value="@Model.StudyProgram" name="study_program" readonly>
        <ul style="list-style-type:none;" class="btnsHome">
            <li>
                <form method="get" asp-action="AccomodationRequest" asp-controller="AccomodationRequest">
                    <input type="submit" id="btnSend" value="Request without preferences" onclick="disableButton()" />
                </form>
            </li>
            <form method="get" asp-controller="Preferences" asp-action="Preferences">
                <li><input type="submit" id="btnAddPref" onclick="showElement(this.id)" value="Preferences" /></li>
            </form>
            <form method="get" asp-controller="IDCardInfoUpdate" asp-action="IDCardInfoUpdate">
                <li><input type="submit" value="Update ID Card info" /></li>
            </form>
            <form method="get" asp-controller="ViewAccomodationRequest" asp-action="ViewAccomodationRequest">
                <li><input type="submit" value="View accomodation request"></li>
            </form>
        </ul>
    </div>
</div>
<form align="right" method="post" asp-action="Logout" asp-controller="App">
    <input type="submit" class="logoutPosition" id="btnLogOut" value="EXIT" />
</form>

