@model IEnumerable<Dorm>

@{
    ViewBag.Title = "HomePageAdmin";
}
@section Scripts{
    <script src="~/node_modules/jquery-validation/jquery.validate.min.js"></script>
    <script src="~/node_modules/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.min.js"></script>
}
<style>
    .grid-container {
        display: grid;
        grid-template-columns: auto auto auto auto auto auto;
        grid-gap: 10px;
        padding: 10px;
        /*padding: 5px;*/
    }

    .grid-item {
        text-align: center;
        /*padding: 5px;*/
        text-wrap: normal;
    }
</style>
<div id="formContent">
    <p>@ViewBag.ErrorMessage</p>
    <button type="button" id="btnStart" onclick="showHideForm(this.id)">Start</button>
    <button type="button" id="btnStop" disabled onclick="showHideForm(this.id)">Stop</button>
        <div id="forStartingProcess" style="display:none">
            <input type="button" value="Add dorm" onclick="@("window.location.href='" + @Url.Action("AddDorm", "AddDorm") + "'");" />
            <input type="button" value="Add deadlines" onclick="@("window.location.href='" + @Url.Action("DeadlinesAdmin", "DeadlinesAdmin") + "'");" />
            <input type="button" value="Upload files for database" onclick="@("window.location.href='" + @Url.Action("UploadFiles", "UploadFiles") + "'");" />
            <input type="submit" value="SUBMIT" onclick="@("window.location.href='" + @Url.Action("Allocation", "Allocation") + "'");"/>
        </div>

        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Comfort</th>
                    <th>Rooms</th>
                    <th>Beds in room</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var dorm in Model)
                {
                    <tr>
                        <td>@dorm.DormName</td>
                        <td>@dorm.DormComfort</td>
                        <td>@dorm.DormNoRooms</td>
                        <td>@dorm.DormBedsInRoom</td>
                    </tr>
                }
            </tbody>
        </table>
</div>
<form align="right" method="post" asp-action="Logout" asp-controller="App">
    <input type="submit" class="logoutPosition" id="btnLogOut" value="EXIT" />
</form>
